{% extends 'portfolio/layout.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
{% endblock %}



{% block style %}
    <style>
        .geometric-container {
            margin-top: 100px;
            text-align: center;
        }


        .loader {
            border: 8px solid #f3f3f3;
            border-top: 8px solid #2ea7cc;
            border-radius: 50%;
            width: 90px;
            height: 90px;
            animation: spin 1s linear infinite;
            margin: 20px auto;
        }

        /* Animação de rotação */
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50.5vh;
        }

        .image-animation {
            animation: imageAnimation 3s ease-in-out infinite;
            width: 500px;
            height: 300px;
            margin: 50px;
        }

        @keyframes imageAnimation {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1);
            }
        }

        .titulo {
            color: #fff;
            font-weight: bold;
        }
    </style>
    {% endblock %}

    {% block main %}

<div class="background-animacoes">
    <div class="skills-body">

    </div><!--background-->

    <h1 class="titulo">
        Animações
    </h1>

    <div class="geometric-container">
        <svg id="my-svg" viewBox="0 0 400 400">
            <rect id="rect" x="10" y="10" width="60" height="60" />
            <circle id="circle" cx="140" cy="60" r="30" />
            <polygon id="triangle" points="130,130 170,170 90,170" />
        </svg>
    </div>

    <div class="loader"></div>

    <div class="image">
        <img class="image-animation" src="{% static 'portfolio/images/praia.avif' %}" alt="Imagem com Animação Alinhada ao Centro">
    </div>
    
</div>

{% endblock %}