{% extends 'portfolio/layout.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
{% endblock %}

{% block main %}

    <div class="background">
        

        <div class="timeline">
            <div class="containert left-container">
                <img src="{% static 'portfolio/images/AEMT.png'%}" alt="Agrupamento de Escolas Madeira Torres">
                <div class="text-box">
                    <h2>Agrupamento de Escolas Madeira Torres</h2>
                    <small>2018 - 2021</small>
                    <p>Estudei Ciências e Tecnologia desde 2018 - 2021.</p>
                    <span class="left-container-arrow"></span>
                </div>
            </div>

            <div class="containert right-container">
                <div class="text-box">
                    <img src="{% static 'portfolio/images/ulht.jpg'%}" alt="">
                    <h2>Universidade Lusófona de Humanidades e Tecnologia</h2>
                    <small>2021 - 2024</small>
                    <p>Atualmente a estudar na Universidade Lusófona de Humanidades e Tecnologia Engenharia Informática.</p>
                    <span class="right-container-arrow"></span>
                </div>
            </div>

        </div>
        
    </div><!--background-->
    {% endblock %}