<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{%static '/portfolio/styles.css'%}">
    <title>Document</title>
</head>

<body class="body-hobbies">
    <header>
        <div class="logo">
            <i class="fa-solid fa-r"></i>
        </div>
        <div class="cabeçalho-link">
            <li>
                <a href="{% url 'portfolio:index' %}">Home</a>
            </li>
            <li class="dropdown1">
                <a href="">Sobre mim</a>
                <div class="dropdown-menu1">
                    <a href="{% url 'portfolio:educacao' %}">Educação</a>
                    <a href="{% url 'portfolio:skills' %}">Skills</a>
                    <a href="{% url 'portfolio:licenciatura' %}">Licenciatura</a>
                </div>
            </li>
            <li>
                <a href="{% url 'portfolio:animacoes' %}">Animações</a>
            </li>
            <li>
                <a href="{% url 'portfolio:calculadora' %}">Javascript</a>
            </li>
            <li>
                <a href="{% url 'portfolio:website' %}">Sobre este Website</a>
            </li>
            <button>Contacto</button>
        </div>
    </header>

    <div class="parallax_container">


        <div>
            <h1>Hobbies</h1>
        </div>

        <div class="parallax image1"></div>

        <div>
            <p class="facts"> Videojogos</p>
            <p class="factsText">Gosto de jogar videojogos, especialmente League of Legends.</p>
        </div>

        <div class="parallax image2"></div>

        <div>
            <p class="facts"> Amigos</p>
            <p class="factsText">Gosto de estar com amigos, não importa o que fazemos é sempre divertido.</p>
        </div>

        <div class="parallax image3"></div>

        <div>
            <p class="facts"> Viajar</p>
            <p class="factsText">Gosto de conhecer novos sítios e novas culturas.</p>
        </div>

        <footer class="rodape">
            <p>Rodrigo Taciano, a22204447, Universidade Lusófona de Lisboa, 2º ano.</p>
        </footer>

</body>

</html>