{% extends 'portfolio/layout.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
{% endblock %}

{% block main %}
<div class="background">
    <div  class="body-hobbies"></div>
    

    <div class="parallax_container">


        <div>
            <h1>Hobbies</h1>
        </div>

        <div class="parallax image1"></div>

        <div>
            <p class="facts"> Videojogos</p>
            <p class="factsText">Gosto de jogar videojogos, especialmente League of Legends.</p>
        </div>

        <div class="parallax image2"></div>

        <div>
            <p class="facts"> Amigos</p>
            <p class="factsText">Gosto de estar com amigos, não importa o que fazemos é sempre divertido.</p>
        </div>

        <div class="parallax image3"></div>

        <div>
            <p class="facts"> Viajar</p>
            <p class="factsText">Gosto de conhecer novos sítios e novas culturas.</p>
        </div>
    </div>
        {% endblock %}