<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">

  {% block style %}
  {% endblock %}


</head>

<body>
  
  <header>
    <div class="cabeçalho-link">
        <li>
            <a href="{% url 'portfolio:index' %}">Home</a>
        </li>
        <li class="dropdown1">
            <a href="">Sobre mim</a>
            <div class="dropdown-menu1">
                <a href="{% url 'portfolio:licenciatura' %}">Licenciatura</a>
                <a href="{% url 'portfolio:educacao' %}">Educação</a>
                <a href="{% url 'portfolio:skills' %}">Skills</a>
                <a href="{% url 'portfolio:hobbies' %}">Hobbies</a>
            </div>
        </li>
        <li>
            <a href="{% url 'portfolio:animacoes' %}">Animações</a>
        </li>
        <li>
            <a href="{% url 'portfolio:calculadora' %}">Javascript</a>
        </li>
        <li>
            <a href="{% url 'portfolio:website' %}">Sobre este Website</a>
        </li>
        <li>
            <a href="{% url 'portfolio:blog' %}">Blog</a>
        </li>
        <button><a href={% url 'portfolio:contactos' %}>Contacto</a></button>
        {% if not request.user.is_authenticated %}
        <li>
       <a href="{% url 'portfolio:login' %}">Login</a>
        </li>
        {% endif %}

        {% if request.user.is_authenticated %}
        <li>
        <a href="{% url 'portfolio:logout' %}">Logout</a>
        </li>
        {% endif %}
    </div><!--cabeçalho-link-->
</header>


    
{% block main %}
{% endblock %}


  <footer class="rodape">
    <p>Rodrigo Taciano, a22204447, Universidade Lusófona de Lisboa, 2º ano.</p>
  </footer>
</body>

</html>