<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
</head>

<body>
  <div class="background">
  <label for="burger-toggle" class="burger-menu">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
  <div class="logo">
    <i class="fa-solid fa-r"></i>
  </div><!--logo-->
  <div class="cabeçalho-link">
    <li>
      <a href="#">Home</a>
    </li>
    <li class="dropdown1">
      <a href="">Sobre mim</a>
      <div class="dropdown-menu1">
        <a href="{% url 'portfolio:licenciatura' %}">Licenciatura</a>
        <a href="{% url 'portfolio:educacao' %}">Educação</a>
        <a href="{% url 'portfolio:skills' %}">Skills</a>
        <a href="{% url 'portfolio:hobbies' %}">Hobbies</a>
      </div>
    </li>
    <li>
      <a href="{% url 'portfolio:animacoes' %}">Animações</a>
    </li>
    <li>
      <a href="{% url 'portfolio:calculadora' %}">Javascript</a>
    </li>
    <li>
      <a href="{% url 'portfolio:website' %}">Sobre este Website</a>
    </li>
    <li>
      <a href="{% url 'portfolio:blog' %}">Blog</a>
    </li>
    <button>Contacto</button>
  </div><!--cabeçalho-link-->

  {% if not request.user.is_authenticated %}
  <div class="login"><a href="{% url 'portfolio:login' %}">Login</a></div>
  {% endif %}

  {% if request.user.is_authenticated %}
  <div class="login"><a href="{% url 'portfolio:logout' %}">Logout</a></div>
  {% endif %}


  <main>
    {% block main %}
    {% endblock main %}
  </main>

  <footer class="rodape">
    <p>Rodrigo Taciano, a22204447, Universidade Lusófona de Lisboa, 2º ano.</p>
  </footer>

  </div>
</body>

</html>