{% extends 'portfolio/layout.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
{% endblock %}

{% block style %}

<style>
        * {
          color : white;
        }

        .table-container {
          width: 800px;
          text-align: center;
          margin: 0 auto;
        }

        .table-row {
          display: table-row;
        }
        
        .table-cell {
          display: table-cell;
          padding: 5px;
          border: 1px solid #ccc;
        }
        
        .titulo-seccao {
          text-align: center;
        }
        
        .link-cadeira {
          text-decoration: none;
          color: #fff;
        }
        
        .link-cadeira:hover {
          text-decoration: underline;
        }
        
        .link-docente {
          text-decoration: none;
          color: #fff;
        }
        
        .link-docente:hover {
          text-decoration: underline;
        }
        </style>

{% endblock %}

{% block main %}
<div class="background">
        <h1>Unidades Curriculares</h1>
        <div class="licenciatura">
          <div class="table-container">
            <div class="table-row">
              <div class="table-cell"><b>Nome</b></div>
              <div class="table-cell"><b>ECTS</b></div>
              <div class="table-cell"><b>Ano</b></div>
              <div class="table-cell"><b>Semestre</b></div>
              <div class="table-cell"><b>Ano Letivo</b></div>
              <div class="table-cell"><b>Linguagens</b></div>
              <div class="table-cell"><b>Docente Teórica</b></div>
              <div class="table-cell"><b>Docente(s) Práticas</b></div>
            </div>
            {% for cadeira in cadeiras %}
            <div class="table-row">
              <div class="table-cell"><u><a href="{{cadeira.link_cadeira}}" class="link-cadeira">{{cadeira.nome}}</a></u></div>
              <div class="table-cell">{{cadeira.ects}}</div>
              <div class="table-cell">{{cadeira.ano}}</div>
              <div class="table-cell">{{cadeira.semestre}}</div>
              <div class="table-cell">{{cadeira.ano_letivo}}</div>
              <div class="table-cell">{{cadeira.linguagens}}</div>
              <div class="table-cell">
                <a href="{{cadeira.docente_teorica.linklusofona}}" class="link-docente">{{cadeira.docente_teorica.nome}}</a>
              </div>
              <div class="table-cell">
                {% for docente_pratica in cadeira.docentes_praticas.all %}
                {{ docente_pratica.nome }} {{ docente_pratica.apelido }}
                {% if not forloop.last %}/ {% endif %}
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
{% endblock %}