<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{%static '/portfolio/styles.css'%}">
    <title>Skills responsivo</title>
</head>

<body class="skills-body">

    <div class="background">
        <header>
            <div class="logo">
                <i class="fa-solid fa-r"></i>
            </div><!--logo-->
            <div class="cabeçalho-link">
                <li>
                    <a href="{% url 'portfolio:index' %}">Home</a>
                </li>
                <li class="dropdown1">
                    <a href="">Sobre mim</a>
                    <div class="dropdown-menu1">
                        <a href="{% url 'portfolio:licenciatura' %}">Licenciatura</a>
                        <a href="{% url 'portfolio:educacao' %}">Educação</a>
                        <a href="{% url 'portfolio:hobbies' %}">Hobbies</a>
                    </div>
                </li>
                <li>
                    <a href="{% url 'portfolio:animacoes' %}">Animações</a>
                </li>
                <li>
                    <a href="{% url 'portfolio:calculadora' %}">Javascript</a>
                </li>
                <li>
                    <a href="{% url 'portfolio:website' %}">Sobre este Website</a>
                </li>
                <button>Contacto</button>
            </div><!--cabeçalho-link-->
        </header>

        <div class="skill">
            <h1>My skills</h1>

            <li>
                <h3>html</h3>
                <span class="bar"><span class="html"></span></span>
            </li>
            <li>
                <h3>css</h3>
                <span class="bar"><span class="css"></span></span>
            </li>
            <li>
                <h3>java</h3>
                <span class="bar"><span class="java"></span></span>
            </li>
            <li>
                <h3>c</h3>
                <span class="bar"><span class="c"></span></span>
            </li>
        </div>

        <footer class="rodape">
            <p>Rodrigo Taciano, a22204447, Universidade Lusófona de Lisboa, 2º ano.</p>
        </footer>

</body>

</html>